# Core ML & Data Libraries
numpy==1.25.2
pandas==2.1.1
scikit-learn==1.3.3
xgboost==1.7.6

# NLP Libraries
nltk==3.9.1

# Model Saving & Deployment
joblib==1.3.2
Flask==2.3.5


matplotlib==3.8.0
seaborn==0.12.3
wordcloud==1.8.2.2
